<form (submit)="addEmployee()">
  <modal>
    <h5 modal-title>Novo empregado</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div modal-body>
      <div class="form-group">
        <label>Nome</label>
        <input class="form-control" name="name" type="text" [(ngModel)]="employee.name">
      </div>
      <div class="form-group">
        <label>Salario</label>
        <input class="form-control" name="salary" type="text" [(ngModel)]="employee.salary">
      </div>
      <div class="form-group" [hidden]="employee.salary >= 1000">
        <label>Bonus</label>
        <input class="form-control" name="bonus" type="text" [(ngModel)]="employee.bonus">
      </div>
    </div>
    <div modal-footer>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Incluir</button>
    </div>
  </modal>
</form>
