<div class="container">
  <alert-success [hidden]="!showMessageSuccess">
    O empregado <strong>{{employee?.name}}</strong> foi incluido com sucesso.
  </alert-success>
  <div class="row">
    <h1>Nossos empregados</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <td colspan="3">
            <button class="btn btn-primary" (click)="openNewModal()">Novo empregado</button>
          </td>
        </tr>
        <tr>
          <th>Nome</th>
          <th>Salário</th>
          <th>Bônus</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employeeService.employees; let i=index;" [id]="'tr'+i">
          <td [innerHtml]="employee.name"></td>
          <td [innerHtml]="employee.salary" [salaryColor]="employee.salary"></td>
          <td [innerHtml]="employee.bonus"></td>
          <td>
            <a href="javascript:void(0)" (click)="openEditModal(employee)">Editar</a> |
            <a href="javascript:void(0)" (click)="openDeleteModal(employee)">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<employee-new-modal (onSubmit)="onNewEmployee($event)"></employee-new-modal>
<employee-edit [employee]="employeeToEdit" (onSubmit)="onEditEmployee($event)"></employee-edit>
<employee-delete-modal [employee]="employeeToDelete" (onDelete)="onDeleteEmployee($event)"></employee-delete-modal>
